/* * {
  box-sizing: border-box;
} */
.flex-row {
  display: flex;
  flex-direction: row;
}

.blah {
  justify-content: space-around;
}

h1 {
  margin: 0;
}

h3 {
  margin: 0;
}

h4 {
  margin: 0;
}

p {
  margin: 0;
}

.inline {
  display: inline;
}

.link-style {
  text-decoration: inherit;
  color: inherit;
}

.movie-info h4:hover .link-style {
  text-decoration: underline;
}

.movie-container {
  margin-top: 5px;
  display: flex;
  flex-direction: row;
  overflow: visible;
  flex-wrap: nowrap;
}

.movie {
  background-color: #121212;
  color: aliceblue;
  border-radius: 4px;
  box-shadow: 3px 3px 5px #121212;
  overflow: hidden;
  margin: 10px 15px;
  width: 250px;
  min-width: 150px;
}

.movie-image {
  position: relative;
  overflow: hidden;
}

.movie img {
  max-width: 100%;
}

.movie-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.4rem;
}

.movie-info h4 {
  margin-right: 10px;
  margin-top: 4px;
  margin-bottom: 4px;
}

.movie-overview {
  color: #121212;
  background-color: white;
  opacity: 0.95;
  border-radius: 4px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 5px;
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
}

.movie-image:hover .movie-overview {
  transform: translateX(0%);
}

.movie:hover {
  transform: scale(1.1);
  transition: transform 0.35s;
}

/* Movie details . . . Movie Details */
.movie-details {
  /* background-color: hsla(0, 9%, 7%, 0.877); */
  background-color: #121212;
  color: #fff;
  width: 100%;
  height: 100%;
  margin: 0 auto 0;
  padding: 25px 30px;
}

.movie-poster {
  /* box-shadow: 3px 1px 5px #121212; */
  margin-right: 30px;
}

.detail-info {
  max-width: 800px;
}

.sub-text {
  display: flex;
  flex-direction: row;
  margin-top: 5px;
  margin-bottom: 30px;
}

.sub-text p {
  padding-right: 15px;
  margin-right: 15px;
  border-right: 1px solid #b6ff2f;
  color: #3e9fbf;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.movie-plot {
  margin-bottom: 30px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.movie-credits {
  margin: 25px 0;
}

.credit-item {
  display: flex;
  flex-flow: row;
  margin: 15px 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.key {
  margin-right: 15px;
  color: #3e9fbf;
}

.movie-availability {
  margin-top: 30px;
}

.quality {
  margin-right: 5px;
  color: #3e9fbf;
}

.quantity {
  padding-right: 25px;
}

.rent-button {
  margin-left: 0px;
  margin-bottom: 50px;
}

/* Place order . . . Place Order */
.order-page {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  padding: 25px 0px;
}

.product-details {
  display: flex;
  flex-direction: row;
}
